In [1]:
import pandas as pd 
import numpy as py

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv")
df.head().T

,0,1,2,3,4
lead_source,paid_ads,social_media,events,paid_ads,referral
industry,NaN,retail,healthcare,retail,education
number_of_courses_viewed,1,1,5,2,3
annual_income,79450.0,46992.0,78796.0,83843.0,85012.0
employment_status,unemployed,employed,unemployed,NaN,self_employed
location,south_america,south_america,australia,australia,europe
interaction_count,4,1,3,1,3
lead_score,0.94,0.8,0.69,0.87,0.62
converted,1,0,1,0,1

In [3]:
df.isna().all()

lead_source                 False
industry                    False
number_of_courses_viewed    False
annual_income               False
employment_status           False
location                    False
interaction_count           False
lead_score                  False
converted                   False
dtype: bool

In [4]:
df.industry.mode()

0    retail
Name: industry, dtype: object

In [5]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [6]:
numerical = ["number_of_courses_viewed","lead_score","annual_income", "interaction_count"]
df[numerical].corr()

,number_of_courses_viewed,lead_score,annual_income,interaction_count
number_of_courses_viewed,1.000000,-0.004879,0.031551,-0.023565
lead_score,-0.004879,1.000000,0.005334,0.009888
annual_income,0.031551,0.005334,1.000000,0.048618
interaction_count,-0.023565,0.009888,0.048618,1.000000

In [7]:
from sklearn.metrics import mutual_info_score
mi_cols = ["industry", "location", "lead_source", "employment_status"]
def calcute_mi(series):
    return mutual_info_score(series, df.lead_score)
mi = df[mi_cols].apply(calcute_mi).sort_values(ascending=False).to_frame(name='MI')
mi

ValueError: Input contains NaN

In [8]:
df.isna().all()

lead_source                 False
industry                    False
number_of_courses_viewed    False
annual_income               False
employment_status           False
location                    False
interaction_count           False
lead_score                  False
converted                   False
dtype: bool